{% extends "base.html" %}

{% block css %}{% endblock %}


{% block main %}
<h1>Properties</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="properties-grid">
    {% for property in properties %}

    <div class="property-container">
        <div class="property-image-container">
            <img  src="{{ url_for( 'get_image' , filename=property.photo) }}" alt="{{ file }}">
        </div>
        <div class="property-text-container"> 
            <h3> {{ property.title }}</h3>
            <h4 style="opacity: 50%;"> {{ property.location }}</h4>
            <h5> ${{ property.price}} </h5>
        </div>
        <a href="{{ url_for('property', property_id=property.id) }}" class="view-property-button"><div><h2>View Property</h2></div></a>
    </div>


    {% endfor %}
    
</div>




{% endblock %}

{% block js %}{% endblock %}